* {
  font-family: 'Comfortaa';
  cursor: default;
}

.hidden {
  display: none!important;
}

/* Whole Elements */
body {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

h1 {
  font-size: 3.5vw;
  color: #090909;
  text-shadow:   2px 2px 0px #0364aa, 
  4px 4px 0px #3e6a83, 
  6px 6px 0px  #90B1E0, 
  8px 8px 0px #ADB6C4,
  10px 10px 0px #FFC49B, 
  12px 12px 0px #ffd07f;
}

h2 {
  font-size: 2.5vw;
}

h4 {
  text-align: center;
  cursor: pointer;
  margin: 0;
  padding-top: 3%;
  padding-bottom: 2%;
  font-size: 2.5vh;
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 25vh;
  width: inherit;
}

aside, 
main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 25vw;
  height: 100vh;
}

aside {
  font-size: 2vw;
  background-color: oldlace;
}

main {
  width: 50vw;
  background-color: ivory;
}

/* Front Page Icon Section */
.icon-section {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 50vh;
  height: 100%;
  font-size: 10vh;
}

.token {
  margin: 0;
}

.token:hover {
  cursor: pointer;
  filter: drop-shadow(20px 20px 15px #9A9A9A);
}

/* Main Section (Game Choices and Fighters) */
.choice-section, 
.fighter-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: inherit;
  height: 70vh;
}

.fighter-section {
  flex-direction: row;
}

.classic-rules, 
.hard-rules {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  background-color: rgb(225, 225, 225);
  border-radius: 8px;
  width: 20vw;
  height: 20vh;
}

.classic-rules:hover, 
.hard-rules:hover,
button:hover {
  background-color: rgba(162, 161, 161, 0.697);
}

.classic-rules > p, 
.hard-rules > p {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  cursor: pointer;
  text-align: center;
  margin: 0;
  font-size: 1.75vh;
  flex: 1;
  width: 100%;
  height: 100%;
}

.classic-fighters, 
.hard-fighters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

img {
  height: 30%;
  width: 30%;
  cursor: pointer;
}

img:hover {
  filter: drop-shadow(20px 20px 15px #9a9a9a);
}

/* User and Computer Section Components */
.button-section {
  height: inherit;
  display: flex;
  align-items: center;
  align-content: center;
  width: inherit;
  justify-content: center;
}

.user-token, 
.computer-token{
  font-size: 4vw;
}

.rule-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: default;
}

.rule-section > .classic-rules:hover,
.rule-section > .classic-rules:hover,
.rule-section > .hard-rules:hover,
.rule-section > .hard-rules:hover,
.rule-section > .classic-rules > p,
.rule-section > .classic-rules > h4,
.rule-section > .hard-rules > p,
.rule-section > .hard-rules > h4 {
  cursor: default;
  background-color: rgb(225, 225, 225);
  border-radius: 8px;
}

button {
  cursor: pointer;
  border-radius: 4px;
  width: 50%;
  height: 10%;
  font-size: 70%;
  background-color: rgb(225, 225, 225);
  box-shadow: 3px 3px 2px 2px;
}

button:active {
  transform:translateY(3px);
  box-shadow: 1px 1px 2px 2px;
}