* {
  /* border: 1px solid blue; */
  font-family: 'Comfortaa';
  cursor: default;
}

html {
  height: 100vh;
  width: 100vw;
}

.hidden {
  display: none!important;
}

body {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 3vw;
}

h2 {
  font-size: 2.5vw;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 25vh;
  width: inherit;
}

aside, main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 25vw;
  height: 100vh;
}

aside {
  font-size: 2vw;
  background-color: aqua;
}

main {
  width: 50vw;
}

.icon-section {
  font-size: 10vh;
  display: flex;
  /* height: 70vh; */
  width: 50vh;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.token:hover {
  cursor: pointer;
}

.choice-section, .fighter-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: inherit;
  height: 70vh;
  justify-content: space-evenly;
}

.fighter-section {
  flex-direction: row;
}

.classic-section, .hard-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(225, 225, 225);
  width: 20vw;
  height: 20vh;
  align-content: center;
}

.classic-section:hover, .hard-section:hover {
  background-color: grey;
  
}

h4 {
  margin: 0;
  cursor: pointer;
  padding-top: 3%;
  font-size: 2vh;
  font-style: oblique;
  width: 100%;
  text-align: center;
}

.classic-section > p, .hard-section > p {
  display: flex;
  cursor: pointer;
  margin: 0;
  font-size: 1.75vh;
  flex: 1;
  text-align: center;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.rule-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.classic-fighters, .hard-fighters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div {
  cursor: pointer;
  font-size: 100px;
  height: 100px;
  width: 100px;
}

.button-section {
  height: inherit;
  display: flex;
  align-items: center;
  align-content: center;
  width: inherit;
  justify-content: center;
}

img {
  height: 30%;
  width: 30%;
  cursor: pointer;
}

img:hover {
  filter:drop-shadow(20px 20px 15px #9A9A9A);
}

.user-token, .computer-token{
  font-size: 3vw;
}

button {
  cursor: pointer;
  border-radius: 4px;
  padding: 10px;
  width: 50%;
  height: 10%;
  font-size: 70%;
  background-color: rgb(225, 225, 225);
  box-shadow: 3px 3px 2px 2px;
}

button:hover {
  background-color:rgb(141, 141, 141);
}

button:active {
  transform:translateY(3px);
  box-shadow: 1px 1px 2px 2px;
}